
@page "/"
<MudContainer Class="mx-6 px-n4">
    <MudText Typo="Typo.h3" Class="my-4 px-n4">Home</MudText>
    <MudText Typo="Typo.body1" Align="Align.Justify">
        <p>
           In this webapp, <b> Well Bore Architectures </b> are handled and stored. Each well bore architecture is associated with independent microservices: <b>Field</b>, <b>Cluster</b>,  <b>Well</b> and <b>Wellbore</b>.
The architecture is made to be able to handle <b> well heads </b>, <b>fluid properties </b> above ground, <b>surface sections</b> with a network of <b>side connectors</b>. Each <b>casing section</b> can be defined separately through its properties and their <b>casing section elements</b>. 
        </p>


    </MudText>        
</MudContainer>
@code {


}